@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
.navBar{
    margin: -10px;
    padding: 5px;;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
}

.logo{
    padding-left: 10px;
    font-weight: 600;
}
.productos ul{
    display: none;
    position: absolute;
    background-color: blue;
    padding-left: 0;
    padding: 5px;
}
.productos:hover ul{
    display: block;
}
.menu .productos{
    list-style: none;
}
.menu{
    display: flex;
    justify-content: space-around;
    padding: 15px;;
    align-items: center;
}
.menu a{
    padding: 10px;
    text-decoration: none !important;
    color: #ffffff;
}
.menu a:hover{
    color: cornflowerblue;
    transition: all .2s;
    
}
.productos .{
    list-style: none;
}
.productos .categorias{
    list-style: none;
}