@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*-------------NAVBAR---------------------------*/
.navBar{
    margin: -10px;
    padding: 5px;;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    background-color: #d85f7d;
}

.logo{
    padding: 20px;
    font-weight: 600;
}
.productos ul{
    display: none;
    position: absolute;
    background-color: rgba(158, 57, 82, 0.726);
    padding-left: 0;
    padding: 5px;
}
.productos:hover ul{
    display: block;
}
.menu .productos{
    list-style: none;
}
.menu{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
}
.menu a{
    padding: 10px;
    text-decoration: none !important;
    color: #ffffff;
}
.menu a:hover{
    color: cornflowerblue;
    transition: all .2s;
    
}
.productos {
    list-style: none;
}
.productos .categorias{
    list-style: none;
}
/*----------------------ITEMLISTCONTAINER-----------------------------*/
.item-container{
    margin: 0;
    font-family: 'Quicksand';
    background-color:#EFEFEF;
    padding: 50px;
    text-align: center;
}
.product-container{
    display: flex;
    flex-direction: row;
}
/*------------------CONTADOR-------------*/
.contador{
    text-align: center;
    padding: 10px;
    font-family: 'Quicksand';
    background-color: rgb(255, 219, 230);
}
.controles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.cantidad{
    padding: 15px;;
}
i{
    padding: 15px;
}
/*-------------------ITEM CARD*-------------*/

.info{
    font-family: 'Quicksand';
    color: grey;
    font-weight: lighter;
    margin: 15px;
    padding: 10px;
    background-color:white;
    width: 150px;
    border-radius: 15px;;
}
.info img{
    border-radius: 10px;;
}
